
/*/ Contacto /*/
.Field {
    width: 100%;
    height: 100px;
}

.containerCont {
    display: inline-block;
    justify-content: center;
}

.imgUbi {
    width: 800PX;
    height: 600px;
}

.ubiH {
    text-align: center;
    font-style: italic;
    margin: 5px;
}

    .input:focus{
        width: 200px;
        height: 30px;
    }
