
/*/ Team /*/
.tituloTeam {
    text-align: center;
}

.containerTeam {
    display: flex;
    justify-content: center;
}

.cardTeam {
    width: 200px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px 15px 0 0;

}

.cardimgTeam {
    height: 205px;
    width: 200px;

}

.cardimgTeam1 {
    height: 205px;
    width: 200px;
}

.cardh {
    text-align: center;
}