
/*/ Videos /*/
.containerVid {
    display: flex;
    justify-content: center;
}

.cardVid {
    width: 200px;
    height: 250px;
    margin: 20px;
    border-radius: 15px 15px 0 0;
}

.cardVidVid {
    height: 200px;
    width: 200px;
}

.cardVid1 {
    height: 200px;
    width: 200px;

}

.vidP {
    text-align: center;
}

.containerGrande {
    display: flex;
    justify-content: center;
}

.cardGrande {
    width: 500px;
    height: 500px;


}

.cardGrandeGrande {
    height: 500px;
    width: 500px;
}

.cardGrande1 {
    height: 500px;
    width: 500px;
}

.GrandeH {
    text-align: center;
} 
